.header {

    &__top {
        padding-block: 15px;
        background: var(--color-black);
        color: var(--color-white);

        & .wrapper {
            justify-content: space-between;
        }
    }

    &__bottom {
        padding-block: 20px;
        display: none;

        @include tablet {
            display: block;
        }
    }

    &.fixed {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 2;
        background: var(--color-white);
    }

    &__contact {
        font-family: "Inter";
        font-size: 24px;
        font-weight: 700;

        @include hover {
            color: var(--color-orange);
        }
    }

    & .lang {

        &__link {
            font-family: "Inter";
            font-size: 20px;
            color: var(--color-gray);
            text-transform: uppercase;

            @include hover {
                color: var(--color-orange);
            }

            &.active {
                color: var(--color-white);
            }
        }

    }
}